<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://queryaccelerator.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/bd14b1a2-ca2a-421b-b234-b9463e855d0c/resourcegroups/TrySnapshot/providers/Microsoft.Web/sites/QueryAccelerator</ResourceId>
    <UserName>$QueryAccelerator</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://queryaccelerator.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>